ExampleMacApp/ExampleMacApp.xcodeproj/project.xcworkspace/xcuserdata/Rebecca.xcuserdatad/UserInterfaceState.xcuserstate
ExampleMacApp/ExampleMacApp.xcodeproj/xcuserdata/Rebecca.xcuserdatad/xcschemes/ExampleMacApp.xcscheme
ExampleMacApp/ExampleMacApp.xcodeproj/xcuserdata/Rebecca.xcuserdatad/xcschemes/xcschememanagement.plist
ExampleMacApp/ExampleMacApp.xcodeproj/xcuserdata
ExampleMacApp/ExampleMacApp.xcodeproj/project.xcworkspace/xcshareddata
ExampleMacApp/ExampleMacApp.xcodeproj/project.xcworkspace/xcuserdata
